/* ------ INDEX ------*/
.mainFlexPadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

/* ------ MAIN ------*/

h1{
    color: rgb(54, 54, 54);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 4.3rem;
}

.mainTexto{
    margin: 2rem 0rem;
    width: 120rem;
    display: inline-block;
}

.mainTexto__parrafo{
    color: rgb(54, 54, 54);
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
    font-size: 2.3rem;
}

.mainMargen__imagen{
    width: 50rem;
    margin: 2rem 1rem 2rem 0.5rem;
    border: solid 0.4rem #ff6d6d;
    border-radius: 2rem;
    text-align: center;
}

/* ------ SECTION ------*/

.section{
    background-image: url("../multimedia/white_paperboard.png");
}

.section__tituloH3{
    color: #ff6d6d;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 2.2rem;
    margin: 1rem 0rem 4rem 0rem;
}

.section__paises{
    width: 55rem;
    margin: 1rem;
    border: solid 0.4rem #ff6d6d;
    border-radius: 2rem;
    text-align: center;
    display:block;
    margin:auto;
}

