
/* ------ RESPONSIVE MOBILE FIRST ---- MEDIA QUERIES ------*/

/* ------ INDEX ------*/

@media (max-width: 1730px) {

    .mainMargen__imagen{
        width: 46rem;
    }

    h1{
        font-size: 3.4rem;
    }
    .mainTexto__parrafo{
        font-size: 2rem;
    }

    h2{
        font-size: 3rem;
    }
    .section__paises{
        width: 47rem;
    }
}

@media (max-width: 1484px) {

    .mainMargen__imagen{
        width: 38rem;
    }

    h1{
        font-size: 3rem;
    }

    .mainTexto__parrafo{
        font-size: 1.8rem;
    }

    h2{
        font-size: 2.7rem;
    }

    .section__paises{
        width: 36rem;
        border-radius: 2.8rem;
    }
}

@media (max-width: 1280px) {

    .header__logo{
        width: 10rem;
        margin: 1rem 5rem 1rem 5rem;
    }
    .menuPrincipal li{
        font-size: 2rem;
        padding: 1.5rem 1rem;
    }
    .mainMargen__imagen{
        width: 33rem;
    }

    h1{
        font-size: 2.8rem;
    }
    .mainTexto__parrafo{
        font-size: 1.6rem;
    }

    h2{
        font-size: 2.4rem;
    }
    .section__paises{
        width: 34rem;
    }
    .section__tituloH3{
        font-size: 1.8rem;
    }
    .footerHijo__correo{
        font-size: 1.4rem;
    }
    .footerHijo__correoInput{
        font-size: 1.4rem;
    }
    .footerHijo__parrafo{
        font-size: 1.5rem;
    }
}

@media (max-width: 1124px) {

    .mainMargen__imagen{
        width: 30rem;
    }

    h1{
        font-size: 2.3rem;
    }
    .mainTexto__parrafo{
        font-size: 1.4rem;
    }
    
    h2{
        font-size: 2.1rem;
    }
    .section__paises{
        width: 30rem;
        border-radius: 2.5rem;
    }
    .section__tituloH3{
        font-size: 1.6rem;
    }
    .footerHijo__correo{
        font-size: 1.2rem;
    }
    .footerHijo__correoInput{
        font-size: 1.2rem;
    }
    .footerHijo__parrafo{
        font-size: 1.3rem;
    }
    .redesSociales{
        width: 3rem;
    }
}

@media (max-width: 986px) {

    .mainMargen__imagen{
        width: 27rem;
        border: solid 0.2rem #ff6d6d;
        border-radius: 2rem;
    }

    h1{
        font-size: 2rem;
    }
    .mainTexto__parrafo{
        font-size: 1.2rem;
    }
    
    h2{
        font-size: 1.8rem;
    }
    .section__paises{
        width: 26rem;
        border-radius: 2.2rem;
        border: solid 0.2rem #ff6d6d;
    }
    .section__tituloH3{
        font-size: 1.5rem;
    }
    .footerHijo__correo{
        font-size: 1.1rem;
    }
    .footerHijo__correoInput{
        font-size: 1.1rem;
    }
    .footerHijo__parrafo{
        font-size: 1.2rem;
    }
}

@media (max-width: 894px) {

    .header__logo{
        width: 8rem;
    }
    .menuPrincipal li{
        font-size: 1.5rem;
    }
    .mainMargen__imagen{
        width: 24rem;
    }

    h1{
        font-size: 1.8rem;
    }
    .mainTexto__parrafo{
        font-size: 1.1rem;
    }
    
    h2{
        font-size: 1.6rem;
    }
    .section__paises{
        width: 23rem;
    }
    .section__tituloH3{
        font-size: 1.4rem;
    }
    .footerHijo__correo{
        font-size: 1rem;
    }
    .footerHijo__correoInput{
        font-size: 1rem;
    }
    .footerHijo__parrafo{
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {

    .header__logo{
        width: 8rem;
        margin: 1rem 2rem;
    }
    .menuPrincipal li{
        font-size: 1.3rem;
    }
    .mainMargen__imagen{
        width: 45rem;
        border: solid 0.3rem #ff6d6d;
        border-radius: 3rem;
        display:block;
        margin:auto;
    }
    .mainMargen{
        margin-bottom: 4rem;
    }

    h1{
        font-size: 2.4rem;
    }
    .mainTexto__parrafo{
        font-size: 1.7rem;
    }
    
    h2{
        font-size: 2.2rem;
    }
    .section__paises{
        width: 42rem;
        border: solid 0.3rem #ff6d6d;
        border-radius: 3rem;
    }
    .section__tituloH3{
        font-size: 1.9rem;
    }
    .footerHijo__correo{
        font-size: 1.1rem;
    }
    .footerHijo__correoInput{
        font-size: 1.1rem;
    }
    .footerHijo__parrafo{
        font-size: 1.2rem;
    }
}

@media (max-width: 492px) {

    .mainMargen__imagen{
        width: 35rem;
    }

    h1{
        font-size: 2.2rem;
    }
    .mainTexto__parrafo{
        font-size: 1.5rem;
    }
    
    h2{
        font-size: 2rem;
    }
    .section__paises{
        width: 32rem;
        border-radius: 2rem;
    }
    .section__tituloH3{
        font-size: 1.6rem;
    }
    .footerHijo__correo{
        font-size: 1rem;
    }
    .footerHijo__correoInput{
        font-size: 1rem;
    }
    .footerHijo__parrafo{
        font-size: 1.1rem;
    }
}

@media (max-width: 382px) {

    .mainMargen__imagen{
        width: 28rem;
        border: solid 0.2rem #ff6d6d;
        border-radius: 2rem;
    }

    h1{
        font-size: 2rem;
    }
    .mainTexto__parrafo{
        font-size: 1.3rem;
    }
    
    h2{
        font-size: 1.8rem;
    }
    .section__paises{
        width: 26rem;
        border: solid 0.2rem #ff6d6d;
        border-radius: 2rem;
    }
    .section__tituloH3{
        font-size: 1.4rem;
    }
    .footerHijo__correo{
        font-size: 1rem;
    }
    .footerHijo__correoInput{
        font-size: 1rem;
    }
    .footerHijo__parrafo{
        font-size: 1rem;
    }
}

/* ------ SERVICIOS HTML ------*/

@media (max-width: 1501px) {
    .flexboxServicios{
        height: 120rem;
    }
}

@media (max-width: 1012px) {
    .flexboxServicios{
        height: 230rem;
    }
    .tituloH2{
        font-size: 3rem;
    }
}

/* ------ NOSOTROS HTML ------*/

@media (max-width: 1600px) {
    .tituloNosotros{
        font-size: 2.8rem;
    }
    .textoNosotros{
        font-size: 1.8rem;
    }
}

@media (max-width: 1380px) {
    .tituloNosotros{
        font-size: 2.4rem;
    }
    .textoNosotros{
        font-size: 1.4rem;
    }
}

@media (max-width: 1050px) {
    .tituloNosotros{
        font-size: 2rem;
    }
    .textoNosotros{
        font-size: 1.2rem;
    }
}

@media (max-width: 880px) {
    .tituloNosotros{
        font-size: 1.6rem;
    }
    .textoNosotros{
        font-size: 1rem;
    }
}

@media (max-width: 680px) {
    .tituloNosotros{
        font-size: 1.3rem;
    }
    .textoNosotros{
        font-size: 0.8rem;
    }
}

@media (max-width: 550px) {
    .tituloNosotros{
        display: none
    }
    .textoNosotros{
        font-size: 0.8rem;
    }
    .nosotrosPaddingTexto{
        padding: 3rem;
    }
}