/* ----------NOSOTROS HTML-----------*/

.nosotrosPadding{
    padding: 3rem;
}

.nosotrosPaddingTexto{
    padding: 4rem;
}

.tituloNosotros{
    color: white;
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
}

.textoNosotros{
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}